body {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    background: grey;
    box-sizing: border-box;
    grid-gap: 0.5em;
    margin: 0;
    padding: 0;
}

main {
    flex: 2;
    align-items: center;
}

section {
    max-width: 800px;
    margin: 50px auto;
}